@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
    text-decoration: none;
    list-style: none;

}

/* body{
    overflow: hidden;
} */



.background{
    background: linear-gradient(180deg, #202020 -7.8%, #282c44 99.38%);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    min-height: 60rem;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
    min-height: 5rem;
    align-items: center;
    text-align: center;
    padding-top: 10px;
}

.cabeçalho-link{
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;
}

.cabeçalho-link a{
    color: #ececec;
    font-size: 12px;
}

.cabeçalho-link a:hover{
    color:  #2e58cc;
    transition: 0.3s all;
}

.icones {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
    margin: 1rem;
}

.buttons{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 25px;

}
.buttons li:hover:before{
    transform: scale(.8);
}

.buttons li:hover{
    transform: scale(1.2);
}
.buttons li{
    width: auto;
    min-width: 70px;
    height: auto;
}

button{
    color: #2e58cc;
    background: transparent;
    border:solid 1px #2e58cc;
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    cursor: pointer;
    width: 150px;
}

button:hover:before{
    background-color: #2e58cc;
    color: #fff;
    transform: scale(.8);
}
button:hover{
    transform: scale(1.2);
}

.container-text{
    padding: 2rem;

}

.text h3{
    color: #fff;
    font-size: 24px;
}

.text h1{
    color: #fff;
    padding-top: 3rem;
}

.text span{
    color: #2e58cc;
}

.text p{
    color: #fff;
    font-weight: 500;
    margin-top: 10px;
    font-size: 12px;
}

.redes-social a,
.buttons li,
.icones,
button {
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.redes-social{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    gap: 1rem;
    width: 8rem;
    height: 3.5rem;
    margin-top: 1rem;
    background-color: #ececec;
}

.apresentacao{
    display: block;
}

.redes-social a:hover:before{
    display: flex;
    justify-content: center;
    color: #2e58cc;
    transform: scale(.8);
}

.redes-social a:hover{
    transform: scale(1.5);
}

.btn{
    margin-top: 15px;
}



/* Estilos para telas maiores (a partir de 601px) */
@media screen and (min-width: 601px) {
    header {
        max-height: 100px; /* Defina a altura máxima do cabeçalho em telas maiores */
        padding-top: 0; /* Remova o padding superior em telas maiores */
    }
}

/* Estilos para telas menores (até 600px) */
@media screen and (max-width: 600px) {
    header {
        max-height: none; /* Remova a altura máxima em telas menores */
    }

    .container-text {
        padding-right: 2rem; /* Reduzir o espaço à direita para acomodar melhor em telas menores */
    }

    .cabeçalho-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem; /* Reduza o espaço entre os itens em telas menores */
    }
    .apresentacao{
        min-height: 11.5rem!important;
    }

    .buttons {
        flex-direction: column;
        gap: 1.25rem;
    }

    .buttons li {
        width: auto;
        min-width: 0;
    }

    button {
        width: 100%;
    }

}


